version: "3.7"
services:
  sa_api_compose:
    build: .
    restart: always
    ports:
      - "8080:8089"
    networks:
      - sa_net
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/sa_api_db?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    depends_on:
      - mysqldb

    volumes:
      - .m2:/root/.m2

  mysqldb:
    image: "mysql:8.0"
    restart: always
    ports:
      - "3306:3306"
    networks:
      - sa_net
    environment:
      MYSQL_DATABASE: sa_api_db
      MYSQL_ROOT_PASSWORD: root
networks:
  sa_net: